<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qas.mapper.TipMapper">

    <resultMap id="user" type="tip">
        <association property="tab" javaType="tab" >
            <result property="tab_name" column="tab_name"/>
            <result property="tab_isDeleted" column="tab_isDeleted"/>
        </association>
        <association property="user" javaType="user">
            <result property="user_nick" column="user_nick"/>
        </association>
        <association property="forum" javaType="forum">
            <result property="forum_name" column="forum_name"/>
            <result property="forum_isDeleted" column="forum_isDeleted"/>
        </association>

    </resultMap>

    <resultMap id="reply" type="reply">
        <association property="user" javaType="user">
            <result property="user_nick" column="user_nick"/>
        </association>
        <association property="tip" javaType="tip">
            <result property="tip_title" column="tip_title"/>
        </association>
    </resultMap>

    <resultMap id="zuozhe" type="tip">
        <association property="user" javaType="user">
            <result property="user_nick" column="user_nick"/>
        </association>
    </resultMap>
    <select id="seleall" resultMap="user">
    SELECT tip_id,u.user_nick,u.user_id,u.user_name,t1.tab_name,f.forum_name,f.forum_isDeleted,t1.tab_isDeleted,tip_title,tip_content,tip_publishTime,tip_modifyTime,tip_click,tip_isDeleted,tip_isKnot,tip_replies,tip_isTop,tip_topTime
    FROM tip t
    INNER JOIN tab t1 ON t.tab_id = t1.tab_id
    INNER JOIN `user` u ON u.user_id = t.user_id
    INNER JOIN forum f ON t.forum_id = f.forum_id
    ORDER BY tip_isTop DESC
    </select>

    <select id="likesele" resultMap="user">
        SELECT tip_id,u.user_nick,t1.tab_name,f.forum_name,tip_title,tip_content,tip_publishTime,tip_modifyTime,tip_click,tip_isDeleted,tip_isKnot,tip_replies,tip_isTop,tip_topTime
        FROM tip t
        INNER JOIN tab t1 ON t.tab_id = t1.tab_id
        INNER JOIN `user` u ON u.user_id = t.user_id
        INNER JOIN forum f ON t.forum_id = f.forum_id
            <where>
            <if test="title!=null">
                t.tip_title LIKE '%${title}%'
            </if>
            </where>
        ORDER BY tip_isTop DESC
    </select>

    <select id="clickreply" resultMap="reply">
    SELECT reply_id,u.user_nick,u.user_type,u.user_id,t.tip_title,t.tip_click,t.tip_replies,reply_content,reply_publishTime,reply_modifyTime,reply_isDeleted
    FROM reply r
    INNER JOIN tip t ON r.tip_id = t.tip_id
    INNER JOIN `user` u ON u.user_id = r.user_id
    WHERE r.tip_id=#{id}
    ORDER BY reply_publishTime DESC
    </select>
    <select id="selezuozhe"  resultMap="zuozhe">
    SELECT tip_id,u.user_nick,u.user_type,t.tab_id,t.forum_id,f.forum_name,u.user_type,u.user_id,tip_title,tip_content,tip_publishTime,tip_modifyTime,tip_click,tip_isDeleted,tip_isKnot,tip_replies,tip_isTop,tip_topTime
        FROM tip t
        INNER JOIN `user` u ON u.user_id = t.user_id
        INNER JOIN `forum` f ON f.forum_id = t.forum_id
        WHERE tip_id=#{id}
    </select>

    <insert id="addreply">
        INSERT INTO reply (user_id,tip_id,reply_content,reply_publishTime)
        VALUES (#{reply.user_id},#{reply.tip_id},#{reply.reply_content},#{reply.reply_publishTime})
    </insert>
    <insert id="addTip">
        insert tip value(null,#{user_id},#{tab_id},#{forum_id},#{tip_title},#{tip_content},#{tip_publishTime},#{tip_modifyTime},#{tip_click},#{tip_isDeleted},#{tip_isKnot},#{tip_replies},#{tip_isTop},null)
    </insert>
    <update id="updatetip" >
        UPDATE tip SET tip_isKnot=#{tip_isKnot} WHERE tip_id=#{tip_id}
    </update>
    <select id="selectForum" resultType="forum">
        SELECT * FROM forum
    </select>
    <select id="selecttab" resultType="tab">
        select * from tab
    </select>
    <select id="selectuser" resultType="user">
        select * from user
    </select>
    <update id="updates">
        UPDATE tip
        <set>
            <if test="forum_id!=0">
                forum_id=#{forum_id},
            </if>
            <if test="tab_id!=0">
                tab_id=#{tab_id},
            </if>
            <if test="tip_title!=null">
                tip_title=#{tip_title},
            </if>
            <if test="tip_content!=null">
                tip_content=#{tip_content},
            </if>
            <if test="tip_modifyTime!=null">
                tip_modifyTime=#{tip_modifyTime},
            </if>
        </set>
        where tip_id=#{tip_id}
    </update>
    <update id="addTop">
        update tip set tip_isTop = 1  where tip_id=#{tid};
    </update>
    <update id="canceTop">
        update tip set tip_isTop = 0  where tip_id=#{tid};
    </update>
    <update id="stick">
        update tip set tip_isKnot = 1  where tip_id=#{tid};
    </update>
    <update id="canceStick">
        update tip set tip_isKnot = 0  where tip_id=#{tid};
    </update>
    <update id="delTip">
        update tip set tip_isDeleted = 1  where tip_id=#{tid};
    </update>
    <update id="canceDelTip">
        update tip set tip_isDeleted = 0  where tip_id=#{tid};
    </update>
</mapper>