<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.qas.mapper.UserMapper">
    <select id="login" resultType="user" parameterType="user">
        select * from user where user_name=#{user_name} and user_password=#{user_password}
    </select>
    <update id="updLoginTime">
        update user set user_lastLoginTime=#{date} where user_id=#{id};
    </update>
    <select id="getAll" resultType="user">
        select * from user
    </select>
    <insert id="regis" parameterType="user">
        insert user value (#{user_id},#{user_name},#{user_nick},#{user_password},#{user_email},#{user_status},#{user_type},#{user_regTime},#{user_lastLoginTime},#{user_modifyTime},#{is_Vip},#{activate})
    </insert>
    <update id="activation">
        update user set user_status = 0,activate=null where activate=#{activate};
    </update>
    <select id="uniquenessName" resultType="user">
        select * from user where user_name=#{name}
    </select>
    <select id="uniquenessEmail" resultType="user">
        select * from user where user_email=#{email}
    </select>


    <select id="getAll_Byid" resultType="user">
        select * from user where user_id=#{id}
    </select>

    <!--<delete id="deleteById" parameterType="int">
        delete from user where user_id=#{user_id};
        delete from tip where user_id=#{user_id};
        delete from reply where user_id=#{user_id};
    </delete>-->

    <update id="UpdateByUser">
        update user set user_email=#{user_email},user_type=#{user_type},user_modifyTime=#{user_modifyTime}
       where user_id=#{user_id}
    </update>

    <update id="UpdateUserStatus">
         update user set user_status=#{user_status}
         where user_id=#{user_id}
    </update>
    <update id="updUserById" parameterType="user">
        update user set user_password=#{user_password},user_nick=#{user_nick},user_modifyTime=#{user_modifyTime} where user_id=#{user_id};
    </update>
    <update id="updVipById">
        update user set is_Vip = 1 where user_id=#{user_id};
    </update>
    <update id="updateHead">
        UPDATE user SET Head_portrait = #{Head_portrait} WHERE user_id = #{user_id}
    </update>

</mapper>