<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的Dao/Mapper接口-->
<mapper namespace="cn.qas.mapper.UserMapper">
    <select id="login" resultType="user" parameterType="user">
        select * from user where user_name=#{user_name} and user_password=#{user_password}
    </select>
    <select id="getAll" resultType="user">
        select * from user
    </select>
    <insert id="regis" parameterType="user">
        insert user value (#{user_id},#{user_name},#{user_nick},#{user_password},#{user_email},#{user_status},#{user_type},#{user_regTime},#{user_lastLoginTime},#{user_modifyTime})
    </insert>
    <update id="activation">
        update user set user_status = 0 where user_id=#{user_id};
    </update>
    <select id="uniquenessName" resultType="user">
        select * from user where user_name=#{name}
    </select>
    <select id="uniquenessEmail" resultType="user">
        select * from user where user_email=#{email}
    </select>
</mapper>